fastapi
openai
uvicorn
streamlit
psycopg2-binary
python-dotenv
langchain==0.1.16
langchain-community==0.0.38
langchain-core==0.1.53
langchain-openai==0.1.7
faiss-cpu
langchain-aws
sentence-transformers
datasets==2.18.0
ragas==0.1.7
langsmith
